@tailwind base;
@tailwind components;
@tailwind utilities;
.pitch_section{

        display: grid;
        justify-content: center;
        align-content: center;
      
}
.div_pitch {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }